version: '4.0'

x-common-env: &common-env
  JWT_SECRET_KEY: secretkey_jwt123
  JWT_ALGORITHM: HS256

services:
  frontend:
    build: ./front-end
    ports:
      - "127.0.0.1:3000:3000"
    # command: npx next dev -H 0.0.0.0
    command: /bin/sh -c "npm run build && npx next start -H 0.0.0.0"
    environment:
      <<: *common-env
      # Application settings
      NEXT_PUBLIC_URL: https://petcare.com
      NEXT_PUBLIC_BRAND_NAME: PetHub
      NEXT_PUBLIC_DESCRIPTION: PetCare helps you book vet appointments, pet spa, hotel, and adoption services with ease.
      # Public API endpoints
      NEXT_PUBLIC_AUTH_API: https://petcare-auth.onrender.com/api/auth
      NEXT_PUBLIC_USER_MANAGEMENT_API: https://petcare-user-management.onrender.com/api/ums
      NEXT_PUBLIC_BOOKING_API: https://petcare-booking.onrender.com/api/booking
      NEXT_PUBLIC_VET_API:  https://petcare-vet.onrender.com/api/vet
      # Social media links
      NEXT_PUBLIC_FACEBOOK_URL: https://www.facebook.com/petcare
      NEXT_PUBLIC_INSTAGRAM_URL: https://www.instagram.com/petcare
      NEXT_PUBLIC_GITHUB_URL: https://github.com/petcare 
      # Contact information
      NEXT_PUBLIC_SUPPORT_EMAIL: support@petcare.vn
      NEXT_PUBLIC_PHONE_NUMBER: +84123456789
      NODE_ENV: production
    depends_on:
      - auth-service
    networks:
      - app-network

  auth-service:
    build: ./auth-service
    ports:
      - "127.0.0.1:8000:8000"
    environment:
      <<: *common-env
      # DATABASE_URL: postgresql+asyncpg://postgres:GyNiA90mn1TBObig@db.yccuyuaqigkxosbpdcul.supabase.co:5432/postgres
      # postgresql://postgres.yccuyuaqigkxosbpdcul:[YOUR-PASSWORD]@aws-1-ap-southeast-2.pooler.supabase.com:5432/postgres
      DATABASE_URL: postgresql+asyncpg://postgres.yccuyuaqigkxosbpdcul:GyNiA90mn1TBObig@aws-1-ap-southeast-2.pooler.supabase.com:6543/postgres
      ACCESS_TOKEN_EXPIRE_MINUTES: 30
      REFRESH_TOKEN_EXPIRE_DAYS: 7
      APP_ENV: development
      USER_SERVICE_INTERNAL_BASE_URL: http://user-management-service:8000
    depends_on:
      - user-management-service
    networks:
      - app-network

  user-management-service:
    build: ./user-management-service
    ports:
      - "127.0.0.1:8001:8000"
    environment:
      <<: *common-env
      # DATABASE_URL: postgresql+asyncpg://postgres:WFQrRR17F5P49yoa@db.anwgeinbyeadpgnhszpr.supabase.co:5432/postgres
      # DATABASE_URL: postgresql+asyncpg://postgres.anwgeinbyeadpgnhszpr:WFQrRR17F5P49yoa@aws-1-ap-south-1.pooler.supabase.com:6543/postgres
      DATABASE_URL: postgresql+asyncpg://postgres.anwgeinbyeadpgnhszpr:WFQrRR17F5P49yoa@aws-1-ap-southeast-2.pooler.supabase.com:6543/postgres
      MAIL_USERNAME: ngkhuy.159@gmail.com
      MAIL_PASSWORD: ykly uuhs urir etzl
      MAIL_FROM: ngkhuy.159@gmail.com
      MAIL_PORT: 587
      MAIL_SERVER: smtp.gmail.com
      MAIL_STARTTLS: True
      MAIL_SSL_TLS: False
      AUTH_SERVICE_INTERNAL_BASE_URL: http://auth-service:8000
    networks:
      - app-network

  booking-service:
    build: ./booking-service
    ports:
      - "127.0.0.1:8002:8000"
    environment:
      <<: *common-env
      # DATABASE_URL: postgresql+asyncpg://postgres:SHVCxbOXIsmzLyLS@db.jxiugzjubbucxudvvbvo.supabase.co:5432/postgres
      DATABASE_URL: postgresql+asyncpg://postgres.jxiugzjubbucxudvvbvo:SHVCxbOXIsmzLyLS@aws-1-ap-southeast-1.pooler.supabase.com:6543/postgres
    networks:
      - app-network

  vet-service:
    build: ./vet-service
    ports:
      - "127.0.0.1:8003:8000"
    environment:
      <<: *common-env
      # DATABASE_URL: postgresql+asyncpg://postgres:w18imz72gitJSK6W@db.gwyspssvgudotjvdojpl.supabase.co:5432/postgres
      DATABASE_URL: postgresql+asyncpg://postgres.gwyspssvgudotjvdojpl:w18imz72gitJSK6W@aws-1-ap-south-1.pooler.supabase.com:6543/postgres
    networks:
      - app-network
  
networks:
  app-network:
    driver: bridge