services:
  # Auth Service (Docker Web Service)
  - type: web
    name: petcare-auth
    env: docker
    repo: https://github.com/ngkhuy/Pet-Hub-B2C
    rootDir: ./auth-service
    dockerfilePath: ./Dockerfile
    dockerContext: ./ 
    plan: free
    region: singapore
    envVars:
      - key: JWT_SECRET_KEY
        value: secretkey_jwt123
      - key: JWT_ALGORITHM
        value: HS256
      - key: DATABASE_URL
        value: postgresql+asyncpg://postgres.yccuyuaqigkxosbpdcul:GyNiA90mn1TBObig@aws-1-ap-southeast-2.pooler.supabase.com:6543/postgres  # Từ compose.yml
      - key: ACCESS_TOKEN_EXPIRE_MINUTES
        value: 30
      - key: REFRESH_TOKEN_EXPIRE_DAYS
        value: 7
      - key: APP_ENV
        value: production  # Đổi từ development
      - key: USER_SERVICE_INTERNAL_BASE_URL
        value: https://petcare-user-management.onrender.com  # Internal call

  # User Management Service
  - type: web
    name: petcare-user-management
    env: docker
    repo: https://github.com/ngkhuy/Pet-Hub-B2C
    rootDir: ./user-management-service
    dockerfilePath: ./Dockerfile
    dockerContext: ./ 
    plan: free
    region: singapore
    envVars:
      - key: JWT_SECRET_KEY
        value: secretkey_jwt123
      - key: JWT_ALGORITHM
        value: HS256
      - key: DATABASE_URL
        value: postgresql+asyncpg://postgres.anwgeinbyeadpgnhszpr:WFQrRR17F5P49yoa@aws-1-ap-southeast-2.pooler.supabase.com:6543/postgres
      - key: MAIL_USERNAME
        value: ngkhuy.159@gmail.com
      - key: MAIL_PASSWORD
        value: ykly uuhs urir etzl
      - key: MAIL_FROM
        value: ngkhuy.159@gmail.com
      - key: MAIL_PORT
        value: 587
      - key: MAIL_SERVER
        value: smtp.gmail.com
      - key: MAIL_STARTTLS
        value: True
      - key: MAIL_SSL_TLS
        value: False
      - key: AUTH_SERVICE_INTERNAL_BASE_URL
        value: https://petcare-auth.onrender.com

  # Booking Service
  - type: web
    name: petcare-booking
    env: docker
    repo: https://github.com/ngkhuy/Pet-Hub-B2C
    rootDir: ./booking-service
    dockerfilePath: ./Dockerfile
    dockerContext: ./ 
    plan: free
    region: singapore
    envVars:
      - key: JWT_SECRET_KEY
        value: secretkey_jwt123
      - key: JWT_ALGORITHM
        value: HS256
      - key: DATABASE_URL
        value: postgresql+asyncpg://postgres.jxiugzjubbucxudvvbvo:SHVCxbOXIsmzLyLS@aws-1-ap-southeast-1.pooler.supabase.com:6543/postgres

  # Vet Service
  - type: web
    name: petcare-vet
    env: docker
    repo: https://github.com/ngkhuy/Pet-Hub-B2C
    rootDir: ./vet-service
    dockerfilePath: ./Dockerfile
    dockerContext: ./ 
    plan: free
    region: singapore
    envVars:
      - key: JWT_SECRET_KEY
        value: secretkey_jwt123
      - key: JWT_ALGORITHM
        value: HS256
      - key: DATABASE_URL
        value: postgresql+asyncpg://postgres.gwyspssvgudotjvdojpl:w18imz72gitJSK6W@aws-1-ap-south-1.pooler.supabase.com:6543/postgres